<div class="container" data-aos="fade-up">
    <div class="section-title">
        <p>Closer Look at What We Offer</p>
    </div>
    <div class="row">
        <div class="image col-lg-6" data-aos="fade-right">
            <img src="assets/img/meterial-quality.png" class="img-fluid features" alt="">
            <img src="assets/img/about3.jpg" class="img-fluid features" alt="">
            <img src="assets/img/measuement.jpg" class="img-fluid features" alt="">
            <img src="assets/img/machine.jpg" class="img-fluid features" alt="">
        </div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                <i class="bx bx-receipt"></i>
                <h4>Meterial Quality</h4>
                <p>Uncompromised Material Quality. Our Commitment to Excellence. Discover garments crafted from
                    the finest materials, meticulously chosen for their durability, comfort, and elegance</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                <i class="bx bx-cube-alt"></i>
                <h4>Stitching</h4>
                <p>Stitching Dreams into Reality. Our expert craftsmanship transforms fabric into personalized
                    masterpieces</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                <i class="bx bx-images"></i>
                <h4>Affordable</h4>
                <p>Enjoy stylish choices that fit your budget. Discover well-crafted options that bring both
                    elegance and value to your wardrobe.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                <i class="bx bx-shield"></i>
                <h4>Perfection</h4>
                <p>Your Measurements Matter. Our experienced team ensures a precise fit that complements your
                    unique body shape</p>
            </div>
        </div>
    </div>

</div>