<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper ">
      <div class="content-wrapper d-flex align-items-center auth">
        <div class="row w-100 ">
          <div class="col-lg-10 mx-auto">
            <div class="auth-form-light text-left p-5">
                <div class="col-6 brand-logo d-flex">
                    <img src="../../../assets/images/favicon.png">
                    <div class="logoText">
                        <h4>Hello! let's get started</h4>
                        <h6 class="font-weight-light">Sign Up to continue.</h6>
                    </div>
                </div>
                <div class="d-flex">
                    <form class="pt-3 col-6">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="userName">User Name</label>
                            <input type="text" class="form-control form-control-sm" id="userName" placeholder="User Name">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="email">Email</label>
                                <input type="email" class="form-control form-control-sm" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="mobileNo">Mobile No</label>
                                <input type="number" class="form-control form-control-sm" id="mobileNo" placeholder="Mobile No">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="mobileNo">Password</label>
                                <input type="password" class="form-control form-control-sm" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="reEnterPassword">Re Enter Password</label>
                                <input type="password" class="form-control form-control-sm" id="reEnterPassword" placeholder="Re Enter Password">
                            </div>
                        </div>
                        <div class="my-2 d-flex justify-content-between align-items-center">
                            <div class="form-check" style="margin-top: 4px;">
                              <input class="form-check-input" type="checkbox" value="" id="agree" />
                              I agree to sign up
                            </div>
                            <a routerLink="login" class="text-primary">Already have an account? login</a>
                        </div>
                        <div class="mt-1 mb-3">
                            <a class="btnRegister btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" routerLink="dashboard">SIGN IN</a>
                        </div>
                    </form>
                    <div class="signup-images">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                            class="img-fluid" alt="Sample image">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                            class="img-fluid" alt="Sample image">
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>