<div id="products" class="bg-dark py-5">
    <div class="container py-5">
      <div class="row pt-5">
        <div class="col-lg-12">
          <h2 class="display-4 mb-5 text-white">Take a look at what we do best</h2>
        </div>
        <div class="col-md-4 pb-5">
          <img
            src="https://images.pexels.com/photos/325876/pexels-photo-325876.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-fluid">
          <h4 class="bg-white p-4">Product Heading</h4>
        </div>
        <div class="col-md-4 pb-5">
          <img
            src="https://images.pexels.com/photos/1303862/pexels-photo-1303862.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-fluid">
          <h4 class="bg-white p-4">Product Heading</h4>
        </div>
        <div class="col-md-4 pb-5">
          <img
            src="https://images.pexels.com/photos/63196/pexels-photo-63196.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-fluid">
          <h4 class="bg-white p-4">Product Heading</h4>
        </div>
        <div class="col-12 text-center pb-5">
          <a href="" class="btn btn-lg btn-primary">View All</a>
        </div>
      </div>
    </div>
  </div>