<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3><a href="index.html"><img src="assets/img/logo.png" class="img-fluid" alt=""></a></h3>
              <p>
                <strong>Location:</strong>
                Shop No 11, Gandhi Chowk,<br>
                Madnoor, Telangana, 503309.<br>
                <strong>Phone:</strong> +91 8184822673<br>
                <strong>Email:</strong> biradarrajkumar18@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Photos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Pricing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Gents Tailor</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Custom Tailoring For Women</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#"> Custom Tailoring For Kids</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Maternity Dresses</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Alteration & Repair</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Signup For Our Newsletter</h4>
            <p>Sign up to our newsletter and we’ll keep you up to date with the latest arrivals and offers</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="submit">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">&copy; Copyright <strong><span>Rajkumar Tailors</span></strong>. All Rights Reserved</div>
      <div class="credits">Designed by <a href="">Maroti</a></div>
    </div>
  </footer>