<div id="feature" class="bg-light py-5">
    <div class="container py-5">
      <div class="row pt-5">
        <div class="col-md-6">
          <h2 class="display-4 mb-5">Perfectly fit not only tailored</h2>
          <p class="lead">Donec posuere felis ligula, vel mollis risus sodales in. Fusce vel nisl eros. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur quis libero eget
            elit.</p>
          <p>Donec posuere felis ligula, vel mollis risus sodales in. Fusce vel nisl eros. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur quis libero eget elit euismod
            posuere in ac nisi.</p>
        </div>
        <div class="col-md-6 mb-5">
          <img src="img/dress-shirt-png-pic.png" class="img-fluid">
        </div>
        <div class="col-md-4 mb-5">
          <img src="img/fabric.png" class="img-fluid mb-4">
          <h4>Double twisted</h4>
          <p>Vestibulum accumsan commodo sapien quis pulvinar. Morbi ac leo sit amet.</p>

        </div>
        <div class="col-md-4 mb-5">
          <img src="img/cotton.png" class="img-fluid mb-4">
          <h4>Egyptian cotton</h4>
          <p>Vestibulum accumsan commodo sapien quis pulvinar. Morbi ac leo sit amet.</p>
        </div>
        <div class="col-md-4 mb-5">
          <img src="img/fabric2.png" class="img-fluid mb-4">
          <h4>Contemporary fit</h4>
          <p>Vestibulum accumsan commodo sapien quis pulvinar. Morbi ac leo sit amet.</p>
        </div>
      </div>
    </div>
  </div>