<div class="container py-5">
    <div class="row pt-5">
      <div class="col-lg-3 col-sm-6 pb-5">
        <h5 class="mb-3">Connect</h5>
        <ul class="list-unstyled hh">
          <li><a href="">LinkedIn &rarr;</a></li>
          <li><a href="">Facebook &rarr;</a></li>
          <li><a href="">+325 541 874</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 pb-5">
        <h5 class="mb-3">Visit</h5>
        <ul class="list-unstyled hh">
          <li>1355 Market St, Suite 900</li>
          <li>San Francisco, CA 94103</li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 pb-5">
        <h5 class="mb-3">Email</h5>
        <ul class="list-unstyled hh">
          <li><a href="mailto:#">first.last@example.com</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 pb-5">
        <h5 class="mb-3">Legal</h5>
        <ul class="list-unstyled hh">
          <li>Company Code</li>
          <li>VAT - 23511425</li>
          <li>IBAN - 587412</li>
        </ul>
      </div>
    </div>

  </div>
  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2020. Made by <a
          href="http://bootstraplily.com" class="text-white">BootstrapLily</a></p>
    </div>
  </footer>