<div class="container" data-aos="fade-up">
    <div class="section-title">
        <h2>About</h2>
        <p>About Us</p>
    </div>
    <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about1.svg" class="img-fluid" alt="">
            <img src="assets/img/about2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Fast, Easy & Affordable Tailoring Service.</h3>
            <p>
                "Welcome to Rajkumar Tailors - where style is stitched.
                With years of experience, we craft attire that mirrors your individuality.
                From classic to contemporary, our skilled tailors ensure the perfect fit.
                Discover elegance tailored just for you."
            </p>
        </div>
    </div>
</div>
