<div id="about" class="bg-light py-5">
    <div class="container py-5">
      <div class="row justify-content-between pt-5">
        <div class="col-md-6 pb-5">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/CLFBsw_Jjes" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-5 pb-5">
          <h1 class="mb-4">Modern suit tailors in London</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue ipsum sed aliquet
            cursus. </p>
          <p class="mb-5">Duis scelerisque pulvinar sagittis. Suspendisse sit amet tellus cursus, imperdiet sem sit
            amet, congue purus. Pellentesque nibh nisl, viverra sed est vitae, elementum vehicula risus.</p>
          <a href="" class="btn btn-primary btn-lg">Find out more</a>
        </div>
      </div>
    </div>
  </div>