<section id="home" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
          <div class="col-xl-12 col-lg-8">
            <h1>Your Style, Our Expertise.</h1>
            <h2> High Quality. Stylish. Long Lasting. timely...<br>Call us +91 8184822673</h2>
          </div>
        </div>
      
        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="bi bi-emoji-smile"></i>
              <h3><a href="">1000+<br>Smiles<br>Delivered</a></h3>
      
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="bi bi-star"></i>
              <h3><a href="">4.5+<br>Social<br>Rating</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="bi bi-bag-heart"></i>
              <h3><a href=""> 10k+<br>Orders<br>Done</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="bi bi-stopwatch"></i>
              <h3><a href="">48 Hours<br>Express<br>Delivery</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="bi bi-currency-rupee"></i>
              <h3><a href="">Budget<br>friendly<br>Rates</a></h3>
            </div>
          </div>
        </div>
      </div>
  </section>