<div id="process" class="process-bg">
    <div class="container py-5">
      <div class="row pt-5">

        <div class="col-md-4 pb-5">
          <div class="bg-white p-5 text-center ww">
            <img src="assets/img/gallery/offers1.png" class="img-fluid">
            <h4 class="mb-3">Tailor Sweing</h4>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue ipsum sed aliquet
              cursus. </p>
            <a href="" class="btn btn-primary btn-lg">The Fabrics</a>
          </div>
        </div>

        <div class="col-md-4 pb-5">
          <div class="bg-white p-5 text-center ww">
            <img src="assets/img/gallery/offers2.png" class="img-fluid">
            <h4 class="mb-3">Taking measurements</h4>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue ipsum sed aliquet
              cursus. </p>
            <a href="" class="btn btn-primary btn-lg">Book</a>
          </div>
        </div>

        <div class="col-md-4 pb-5">
          <div class="bg-white p-5 text-center ww">
            <img src="assets/img/gallery/offers3.png" class="img-fluid">
            <h4 class="mb-3">Taking measurements</h4>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue ipsum sed aliquet
              cursus. </p>
            <a href="" class="btn btn-primary btn-lg">Find Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>