<div id="work" class="bg-light py-5">
    <div class="container py-5">
      <div class="row justify-content-between align-items-center pt-5">
        <div class="col-lg-5 pb-5">
          <h2 class="display-4 mb-5">Satisfication</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue ipsum sed aliquet
            cursus. </p>
          <p class="mb-5">Duis scelerisque pulvinar sagittis. Suspendisse sit amet tellus cursus, imperdiet sem sit
            amet, congue purus. Pellentesque nibh nisl, viverra sed est vitae, elementum vehicula risus.</p>
          <a href="" class="btn btn-lg btn-primary">View All</a>
        </div>
        <div class="col-lg-6 pb-5">
          <div class="items">
            <div> <img class="img-fluid card-img-top" src="assets\img\suit-one.png"> </div>


            <div> <img class="img-fluid card-img-top" src="img/suit-two.png"> </div>


            <div> <img class="img-fluid card-img-top" src="img/suit-three.png"> </div>


          </div>
        </div>
      </div>
    </div>
  </div>