<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
            <img *ngIf="brandDetails.logo" [src]="brandDetails.logo" alt="{{ brandDetails.name.split(' ')[0].charAt(0) }}{{ brandDetails.name.split(' ')[1].charAt(0) }}" />
            <div *ngIf="!brandDetails.logo" class="rounded-circle bg-primary text-white mr-2"
                style="width: 45px; height: 45px; display: flex; align-items: center; justify-content: center; font-size: 20px;">
                {{ brandDetails.name.split(' ')[0].charAt(0) }}{{ brandDetails.name.split(' ')[1].charAt(0) }}
            </div>
        </a>
        <a class="navbar-brand brand-logo-mini" href="index.html">
            <img *ngIf="brandDetails.miniLogo" [src]="brandDetails.miniLogo" alt="{{ brandDetails.name.split(' ')[0].charAt(0) }}{{ brandDetails.name.split(' ')[1].charAt(0) }}" />
            <div *ngIf="!brandDetails.miniLogo" class="rounded-circle bg-primary text-white mr-2"
                style="width: 45px; height: 45px; display: flex; align-items: center; justify-content: center; font-size: 20px;">
                {{ brandDetails.name.split(' ')[0].charAt(0) }}{{ brandDetails.name.split(' ')[1].charAt(0) }}
            </div>
        </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <i class="input-group-text border-0 mdi mdi-magnify"></i>
                    </div>
                    <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
                </div>
            </form>
        </div>
        <ul class="navbar-nav navbar-nav-right">
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>